@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid #fff !important; */
}

/* .circle_parent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
} */


body {
    margin: 4% auto;
    overflow-x: hidden;
    background: #093e76;
    color: #fff;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 96%;
    text-align: left;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: left;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: left;
    color: #24b658;
}

h1 {
    color: #24b658;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 900;
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 90%;
    align-self: center;
}

a {
    text-decoration: none;
    color: #24b658;
}

a:hover {
    text-decoration: underline;
    color: #d6a811;
}


.event_container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: start;
    align-items: start;
    margin: 2% auto !important;
}

.event_title {
    color: #24b658
}

span {
    margin-left: 4px;
}

.event_date {
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.event_time {
    font-size: 0.8rem;
}

.event_description {
    font-size: 0.8rem;
}

.event_location {
    font-size: 0.8rem;
    color: #24b658;
}

ol {
    list-style-type: circle;
    align-self: flex-start;
    margin-left: 32px;
    margin-bottom: 20px;
}

li {
    font-size: 1rem;
    margin-bottom: 16px;
}


.pay_container h1 {
    color: #fff;
}

.pay_container {
    width: 20%;
    height: 100%;
    background-color: #24b658;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: start;
    align-items: start;
    margin: 4%;
}

.icon {
    width: 24px;
    height: 24px;
}

.event_card {
    display: flex;
    justify-content: start;
    align-items: start;
    height: fit-content;
    /* margin: 20px; */
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    /* background-c\olor: rgba(255, 255, 255, 0.1); */
    text-align: center;
}

.event_info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: self-start;
    height: 100%;
    margin: 20px;
    padding: 20px;
    text-align: start;
    /* border: 1px solid #d6a811; */
    width: 100%;
}

.event_image {
    display: flex;
    align-self: center;
    justify-content: left;
    flex-direction: column;
    align-items: self-start;
    text-align: start;
    width: 50%;
    object-fit: cover;
    border-radius: 8px;
    /* border: 1px solid #d6a811; */
}

a {
    width: 100%;
    text-decoration: none;
    color: #24b658;
}

a:hover {
    text-decoration: underline;
    color: #d6a811;
}

button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #24b658;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #d6a811;
}

@media screen and (max-width: 1000px) {

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        width: 100%;
    }

    .event_image {
        width: 100%;
        height: auto;
    }

    .event_info {
        width: 100%;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 1rem;
    }

    .row {
        flex-direction: column;
        width: 100%;
    }

    .event_container {
        width: 96%;
        margin: 2% auto !important;
    }

    .pay_container {
        width: 80%;
    }

    .event_card {
        width: 100%;
        flex-direction: column;
    }

}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: float 10s ease-in-out infinite;
    z-index: -1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

/* * {
    border: #fff 1px solid !important;
} */